html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
}
.welcome {
  width: 100%;
  height: 100vh;
}

.headerContent {
  width: 100%;
  position: absolute;
  top: 30%;
  height: 50%;
}

.hello {
  font-family: "Caveat", cursive;
  font-size: 8vw;
  margin: 0 auto;
  width: 39vw;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(12, end);
  color: aliceblue;
  text-shadow: 4px 4px rgba(211, 211, 211, 0.281);
  font-weight: lighter;
}

.hannah {
  font-size: 15vw;
  height: 129px;
  animation: fade-in 5s forwards;
  animation-delay: 1.2s;
  font-family: "Slabo 27px", serif;
  opacity: 0%;
  margin: 0 auto;
  width: 80%;
  max-width: 907px;
  position: static;
  text-align: center;
}

.arrowBox {
  animation: bounce 0.5s alternate forwards steps(20, end);
  animation-delay: 3s;
  animation-iteration-count: 4;
  width: 50px;
  height: 50px;
  opacity: 0;
  position: absolute;
  bottom: 15vh;
  left: 48vw;
}

.arrowRotate {
  transform: rotate(90deg);
}
.arrow {
  color: aliceblue;
  font-size: 90px;
  text-decoration: none;
}

.arrow:visited {
  color: aliceblue;
}

hr {
  width: 80%;
  margin-top: 60px;
}

.intro {
  width: 90vw;
  height: 90vw;
  margin: 0 auto;
  background-color: black;
}

.projectTitle {
  color: aliceblue;
  text-align: center;
  font-size: 3em;
  font-family: "Slabo 27px", serif;
}
.projects {
  margin: 0 auto;
  padding: 0;
  display: table;
}

.cards {
  background-color: #8acbf1af;
  color: black;
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0;
  border-radius: 4px;
  padding: 5px;
  width: 50vw;
}

.cards:hover {
  box-shadow: 8px 4px 4px aliceblue;
  transform: translateX(4px);
  background-color: #8acbf1e3;
}

ul {
  list-style: none;
}

.listItems {
  vertical-align: middle;
  display: table-cell;
}

#footer {
  position: sticky;
  bottom: 10px;
  right: 50px;
  text-align: right;
  width: 100%;
}

.top:visited {
  color: aliceblue;
}

.topStyle {
  margin-right: 25px;
  font-size: 3em;
  color: aliceblue;
  display: inline-block;
  transform: rotate(-90deg);
}
.top {
  text-decoration: none;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 39vw;
  }
}

.firstA,
.firstH,
.firstN,
.secondA,
.secondH,
.secondN {
  height: fit-content;
  width: initial;
  transition: 1.5s;
  animation: none;
  display: inline-block;
  left: initial;
  position: static;
}

.firstA:hover,
.firstH:hover,
.firstN:hover,
.secondA:hover,
.secondH:hover,
.secondN:hover,
.firstA:active,
.firstH:active,
.firstN:active,
.secondA:active,
.secondH:active,
.secondN:active {
  transform: rotateY(360deg);
} {
  transform: rotateY(360deg);
}
.firstH {
  color: #61d4b3e7;
}
.firstA {
  color: #fb8d62e5;
}
.firstN {
  color: #8accf1da;
}
.secondN {
  color: #fdd265e7;
}
.secondA {
  color: #6173f4;
}
.secondH {
  color: #fd2eb5e1;
  right: initial;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 100%;
  }
  100% {
    transform: translateY(20px);
    opacity: 100%;
  }
}
