html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
}
.welcome {
  width: 100%;
  height: 100vh;
}

.headerContent {
  width: 100%;
  position: relative;
  top: 30%;
  height: 50%;
}

.hello {
  font-family: "Caveat", cursive;
  font-size: 6vw;
  margin: 0 auto;
  width: 27vw;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.3s steps(12, end);
  color: aliceblue;
  text-shadow: 4px 4px rgba(211, 211, 211, 0.281);
}

.hannah {
  font-size: 7em;
  height: 129px;
  animation: fade-in 5s forwards;
  animation-delay: 1.2s;
  font-family: "Slabo 27px", serif;
  opacity: 0%;
  margin: 0 auto;
  position: relative;
  width: 80%;
  max-width: 907px;
}
.intro {
  width: 80%;
  height: 300px;
  margin: 40px auto;
  border: black 1px solid;
  border-radius: 8px;
  display: flex;
  background-color: black;
  justify-content: center;
}

.arrowBox {
  animation: bounce 0.5s alternate forwards steps(20, end);
  animation-delay: 8s;
  animation-iteration-count: 4;
  width: 50px;
  height: 50px;
  opacity: 0;
  position: absolute;
  bottom: 10vh;
  left: 48vw;
}
.arrowRotate {
  transform: rotate(90deg);
}
.arrow {
  color: aliceblue;
  font-size: 90px;
  text-decoration: none;
}

.arrow:visited {
  color: aliceblue;
}

hr {
  width: 80%;
  margin-top: 60px;
}
.projectTitle {
  color: aliceblue;
  text-align: center;
  font-size: 4em;
  font-family: "Slabo 27px", serif;
}
.projects {
  margin: 0 auto;
  padding: 0;
}

.cards {
  background-color: #8acbf1af;
  color: black;
  width: 200px;
  height: 200px;
  display: inline-table;
  text-align: center;
  font-size: 2em;
  vertical-align: middle;
  margin-right: 20px;
  border-radius: 4px;
}

.cards:hover {
  box-shadow: 8px 4px 4px aliceblue;
  transform: translateX(4px);
  background-color: #8acbf1e3;
}

ul {
  list-style: none;
}

#footer {
  position: sticky;
  bottom: 10px;
  right: 50px;
  text-align: right;
  width: 100%;
}

.top:visited {
  color: aliceblue;
}

.topStyle {
  margin-right: 25px;
  font-size: 3em;
  color: aliceblue;
  display: inline-block;
  transform: rotate(-90deg);
}
.top {
  text-decoration: none;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 27vw;
  }
}

.firstA,
.firstH,
.firstN,
.secondA,
.secondH,
.secondN {
  position: absolute;
  text-align: center;
  height: fit-content;
  width: 200px;
  transition: 1.2s;
}

.firstA:hover,
.firstH:hover,
.firstN:hover,
.secondA:hover,
.secondH:hover,
.secondN:hover {
  transform: rotateY(360deg);
}
.firstH {
  color: #61d4b3e7;
  animation: slidefirstH 3s alternate;
  animation-iteration-count: 2;
  animation-delay: 1.5s;
  animation-timing-function: linear;
  left: 5%;
}

.firstA {
  color: #fb8d62e5;
  animation: slidefirstA 3s alternate;
  animation-delay: 1.5s;
  animation-iteration-count: 2;
  left: 18.2%;
  animation-timing-function: linear;
}
.firstN {
  color: #8accf1da;
  animation: slidefirstN 3s alternate;
  animation-delay: 1.5s;
  left: 31.4%;
  animation-timing-function: linear;
  animation-iteration-count: 2;
}
.secondN {
  color: #fdd265e7;
  animation: slidesecondN 3s alternate;
  animation-delay: 1.5s;
  left: 45.6%;
  animation-timing-function: linear;
  animation-iteration-count: 2;
}
.secondA {
  color: #6173f4;
  animation: slidesecondA 3s alternate;
  animation-delay: 1.5s;
  left: 57.8%;
  animation-timing-function: linear;
  animation-iteration-count: 2;
}
.secondH {
  color: #fd2eb5e1;
  animation: slidesecondH 3s alternate;
  animation-delay: 1.5s;
  animation-direction: alternate;
  right: 5%;
  animation-timing-function: linear;
  animation-iteration-count: 2;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes slidefirstH {
  100% {
    left: 70%;
  }
}
@keyframes slidefirstA {
  100% {
    left: 57.8%;
  }
}
@keyframes slidefirstN {
  100% {
    left: 45.6%;
  }
}
@keyframes slidesecondN {
  100% {
    left: 31.4%;
  }
}
@keyframes slidesecondA {
  100% {
    left: 18.2%;
  }
}
@keyframes slidesecondH {
  100% {
    right: 70%;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 100%;
  }
  100% {
    transform: translateY(20px);
    opacity: 100%;
  }
}
