body {
  margin: 0;
}

#header {
  width: 100vw;
  height: 25vw;
  background-image: url(pics/header.jpg);
  margin-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  position: relative;
}
#headerText {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;

  font-family: "Poiret One", cursive;
  color: white;
  text-shadow: -1px -1px 0 #000, 3px 3px 0 #000, 2px 3px 0 #000, 4px 4px 0 #000;
}

.productCard {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.productPic {
  width: 300px;
  height: 400px;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0px 0px 7px 2px black;
  background-position-y: center;
}

.zoomPicWrapper {
  width: 300px;
  overflow: hidden;
  height: 400px;
  transform: scale(1.5);
  position: absolute;
  border-radius: 7px;
  box-shadow: 0px 0px 9px 2px black;
}

.picZoom {
  width: 1050px;
  height: 401px;
  position: absolute;
  z-index: 1;
  background-size: 350px;
  background-position: left, center, right;
  background-repeat: no-repeat;
  border-radius: 7px;
  overflow: hidden;
  transform: translateX(0%);
  box-shadow: 0px 0px 9px 2px black;
  background-position-y: center;
}

#leftBtn {
  position: absolute;
  left: 8px;
  top: 50%;
  z-index: 2;
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transform: scale(1.1, 2);
}

#rightBtn:hover,
#leftBtn:hover {
  transform: scale(2, 2.8);
  cursor: pointer;
}

#rightBtn {
  position: absolute;
  right: 8px;
  top: 50%;
  z-index: 2;
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transform: scale(1.1, 2);
}

.description {
  text-align: center;
  padding: 5px;
}

#table {
  width: 100%;
  min-width: 1000px;
}

#showAll:hover {
  cursor: pointer;
  text-decoration: underline;
}

#navBar {
  width: 15%;
}

#navlist {
  padding: 0;
  list-style: none;
  display: inline-block;
  height: 100vh;
  width: 15vw;
  margin: 0;
}

.navItem {
  padding: 5px;
  border: 1px solid white;
}
.navItem:hover {
  text-decoration: underline;
  width: fit-content;
  cursor: pointer;
  font-weight: bold;
}

#productArea {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  justify-content: start;
  align-content: flex-start;
}

#wrapper {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  align-content: space-around;
}

#showAll {
  margin-bottom: 4px;
  margin-top: 0;
}

#sort {
  width: 15%;
}
#sortHead {
  margin: 0;
}

#sortHigh,
#sortLow {
  margin-top: 4px;
  width: 100px;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#sortHigh:hover,
#sortLow:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
