body {
  background-color: black;
}
.home {
  color: aliceblue;
}

.title {
  color: aliceblue;
  text-align: center;
}

.description {
  color: aliceblue;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

#result {
  color: aliceblue;
}

.inputInstruct {
  color: aliceblue;
  margin: 60px auto;
  width: 80%;
}
form {
  display: inline;
}
button {
  display: block;
  background-color: aliceblue;
}

#addNumber,
#removeAllNumbers,
#removeLastNumber {
  background-color: #176bbed8;
  color: aliceblue;
  padding: 5px;
  border-radius: 4px;
  border: black solid 2px;
  display: inline-block;
  margin: 4px;
}

.wrapper {
  max-width: 1000px;
  margin: 40px auto;
}
.code {
  max-width: 80%;
}

.code:hover,
.code:active {
  transform: scale(1.5);
}

.histo {
  width: 70%;
}

#chart {
  border-left: solid 5px white;
  border-bottom: solid 5px white;
  width: 100%;
  margin: 0;
  position: relative;
}

#barChart {
  height: 300px;
  position: relative;
}

#wrapwrap {
  height: 310px;
  position: relative;
  margin-left: 10%;
}
#tablewrap {
  position: absolute;
  width: 0;
  height: 4vw;
  bottom: 9px;
  overflow: hidden;
}

#fish {
  position: absolute;
  background-image: url(fishfish.gif);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: 100%;

  top: 10px;
  z-index: -2;
  animation: fish linear infinite;
  animation-duration: 10s;
}
.fishStyle {
  width: 51px;
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 300px;
  background-color: black;
  z-index: -1;
  padding: 0;
}

.innerNumber {
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-align: center;
  color: white;

  z-index: 2;
}

.barStyle {
  background: #176abe;
  width: 50px;
  position: absolute;
  bottom: 0;
  border: solid 1px black;
  border-bottom: 0;
  font-size: 14px;
  padding: 0;
  z-index: 2;
}

.rainStyle {
  width: 51px;
  position: absolute;
  bottom: 0;
  display: inline-block;
  background-image: url(bubbles.gif);
  background-color: rgba(32, 137, 241, 0.315);
  background-position: -5px 0;
  background-size: cover;
  text-align: center;
  font-size: 18px;
  color: white;
  padding: 0;
  font-weight: bolder;
}

@keyframes fish {
  0% {
    left: 20px;
  }
  100% {
    left: 100%;
  }
}
